
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


{% load staticfiles %}
<head>
    <center>
        <b>Uite care sunt optiunile:</b>
    </center>
</head>
<br><br><br>
<center>
    1. Sa te loghezi ca user al aplicatiei, <a href='admin/'>APASA AICI</a>
    <br>
    <br>
    <br>
    2. Daca vrei sa vezi ultimele feeduri, <a href='feedreader/'>APASA AICI</a>
    <br>
    <br>
    !!! ATENTIE !!! Trebuie sa fii logat ca sa vezi feedurile. Altminteri o sa vezi o eroare destul de detaliata.
    <br>
    Eroarea e atat de complicata pentru ca aplicatia e in dezvoltare. In productie, o sa apara un simplu "404 Not Found"

    <br><br>
    3. Daca vrei sa editezi feedurile, sa le selectezi, grupezi etc..., <a href='feedreader/edit_feeds.html'>APASA AICI</a>
    <br><br>
    

<br>
<br>


<img src="{% static 'logo.png' %}" ,height="242" width="242", alt="Sa nu razi de logo-ul meu, da?..."/>

</center>
<br>
<br>
<center>
    <h3>Hai sa-ti explic:</h3>
    <br>
    <br>
    Articolele sunt varsate periodic intr-o baza de date (SQL)<br><br>
    Intervalele de actualizare se seteaza printr-un cron job pe serverul pe care ruleaza aplicatia.
    <br><br>
    ... iar baza de date poate fi interogata in fel si chip, depinde de ce anume cautam sa aflam ...
    <br>
    <br>
    Deocamdata am pus doar trei feed-uri: evz, g4media si daca imi aduc bine minte si agerpres sau gen. Poti pune cate vrei.
    <br>
    <br>
    Keep in touch! 
</center>

